.poster_list {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media (min-width: $large-screen) {
        align-self: stretch;
        align-items: flex-start;
    }

    .poster {
        flex: 0;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: center;
        margin: 30px 30px;

        @media (min-width: $large-screen) {
            align-self: stretch;
            word-wrap: break-word;
        }

        img {
            border-radius: 5px;
            align-self: center;
        }

        .details {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 10px 0;
            font-size: 0.8em;
        }
    }
}